.admin {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;

  .admin-sidebar {
    width: 20%;
    background-color: #a6a2a2;
    padding: 20px;
    border-right: 1px solid #ccc;
    

    .admin-sidebar-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .admin-sidebar-header-title {
        font-size: 20px;
        font-weight: 600;
      }
    }

    .admin-sidebar-menu {
      display: flex;
      flex-direction: column;
      list-style: none; /* Remove bullet points */
      padding: 0;       /* Remove padding */
      margin: 0;        /* Remove margin */
      text-decoration: none; /* Removes any text decoration */
      border: none; /* Removes any border if applied */

      .admin-sidebar-menu-item {
        text-decoration: none; /* Removes any text decoration */
        border: none; /* Removes any border if applied */        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
      }
      
    }
  }

}
